{% extends "base.html.jinja" %}
{% block content %}
<div class="col-12 col-lg-9 col-xl-10">
    <div class="section">
        <div class="row">
            <div class="col-xl-8">
                <section class='container'>
                    <div class='center content'>
                      <div class='spacer'></div>
                      <img src="{{url_for('static', filename='img/CVETechGroup_Logo_PMS.jpg')}}" />
                      <div class='spacer'></div>
                      <div class='center'>
                        <h1>Grant CVE Webex Utils Bot Access To Webex Teams</h1>
                      </div>
                      <div class="col-md-6">
                      <div class='center'>
                        <a class='button' href="https://webexapis.com/v1/authorize?client_id=C30ab358b409e1b32424c65e9b6636cca12c4f20528b080ae3db519c01f29676e&response_type=code&redirect_uri=https%3A%2F%2Foauth.cveautomation.com&scope=spark%3Amemberships_read%20spark%3Arooms_read%20spark%3Amemberships_write%20spark%3Ateams_write%20spark%3Ateam_memberships_write%20spark%3Ateams_read%20spark%3Arooms_write%20spark%3Amessages_read%20spark%3Ateam_memberships_read&state=cvewebexbot">
                          <div class='btn' class="btn btn--secondary">GRANT</div>
                        </a>
                      </div>
                    </div>
                  </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

  
  <body>
 
  </body>