{% extends "base.html" %}
{% block content %}
<div class="col-12 col-lg-9 col-xl-10">
    <div class="section">
        <div class="row">
            <div class="col-xl-8">
                <section class='container'>
                    <div class='center content'>
                      <div class='spacer'></div>
                      <img src= "img/CVETechGroup_Logo_PMS.jpg"/>
                      <div class='spacer'></div>
                      <div class='center'>
                        <h1>Grant CVE Webex Utils Bot Access To Webex Teams</h1>
                      </div>
                      <div class='spacer-small'></div>
                      <div class='center'>
                        <a href="https://webexapis.com/v1/authorize?client_id=a3ae1859d31806348e9fa80e20e5c71d3f1496ca61879bde4ef39739897e4788d&response_type=code&redirect_uri=https%3A%2F%2Flockbot.cisco.sparkbot.io%2Foauth&scope=spark%3Amessages_write%20spark%3Arooms_read%20spark%3Amemberships_read%20spark%3Arooms_write%20spark%3Apeople_read%20spark%3Akms%20spark%3Amemberships_write&state=lockbot">
                          <div class='button' style='width:512px;'>GRANT</div>
                        </a>
                      </div>
                    </div>
                  </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

  
  <body>
 
  </body>