{% extends "base.html.jinja" %}
{% block content %}
<%script>

<div class="col-12 col-lg-9 col-xl-10">
    <div class="section">
        <div class="row">
            <div class="col-xl-8">
                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <h2 class="subtitle">Remove User from Webex Spaces and Teams</h2>
                    <hr>
                    <div class="section">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                            <!-- Middle Rail -->
                                <div class="panel panel--loose panel--raised base-margin-bottom">
                                    <h6>Please provide the email address of the individual to remove</h6>
                                    <form action="/removeUser" method="POST" name="removeUser">
                                        <input type="hidden" name="code" value={{ accessToken }}>
                                        User Email Address: <input type="text" name="emailAddress">
                                        <br><br>
                                    </form>
                                </div>  
                            </div>                               
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <button type= "submit" class="btn btn--secondary">Remove</button>
                                </form>
                                <br>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
