{% extends "base.html.jinja" %}
{% block content %}

<div class="col-12 col-lg-9 col-xl-10">
    <div class="section">
        <div class="row">
            <div class="col-xl-8">
                <div class="panel panel--loose panel--raised base-margin-bottom">
                    <h2 class="subtitle">Remove User from Webex Spaces and Teams</h2>
                    <hr>
                    <div class="section">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                            <!-- Middle Rail -->
                                <div class="panel panel--loose panel--raised base-margin-bottom">
                                    <h6>Please provide the email address of the individual to remove</h6>
                                    <form action="{{url_for('removeUserStatus')}}" method="POST" name="removeUser" id="removeUser">
                                        <input type="hidden" name="code" value="{{ accessStuff }}">
                                        User Email Address: <input type="text" name="emailAddress" id="emailAddress">
                                        <br><br>
                                        Space or Room Names to Match: <input type="text" name="roomPattern">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type= "submit" class="btn btn--secondary">Remove</button>
                                            </div>  
                                        </div>                                                       
                                    </form>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.getElementById('removeUser').onsubmit = function() {
        return ValidateEmail(document.getElementById('emailAddress'));
    }

    function ValidateEmail(inputText){
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(inputText.value.match(mailformat)) {
            console.log("valid email address entered");
            return true;
        }
        else {
            alert("You have entered an invalid email address!");
            inputText.focus();
            return false;
        }
    }
</script>

{% endblock %}
